<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p th:text = "${book.getId()}">value</p>
<p th:text = "${book.getTitle()}">value</p>
<p th:text = "${book.getAuthor()}">value</p>
<p th:text = "${book.getYear()}">value</p>

<a th:href="@{/library/books/edit/{id}(id=${book.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/library/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>