<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/library/edit/{id}(id = ${person.getId()})}" th:object="${person}">
<!--<form th:method="PATCH" th:action="@{/people/{id}(id=${editPerson.getId()})}" th:object="${editPerson}">-->


    <label for = "fname"> edit firstName</label>
        <input type="text" th:field = "*{firstName}" id = "fname"/>
        <br/>

        <label for = "sname"> edit surname</label>
        <input type="text" th:field = "*{surName}" id = "sname"/>
        <br/>

        <label for = "patronymic"> edit patronymic</label>
        <input type="text" th:field = "*{patronymic}" id = "patronymic"/>
        <br/>


        <label for = "year"> edit firtName</label>
        <input type="text" th:field = "*{year}" id = "year"/>
        <br/>

        <input type="submit" value="Edit">
</form>

</body>
</html>